// body{background-color: black !important;}


@font-face{
    font-family: 'mLight';
    src:url('/assets/fonts/Poppins/Poppins-Light.ttf')
}

@font-face{
    font-family: 'mRegular';
    src:url('/assets/fonts/Poppins/Poppins-Regular.ttf')
}

@font-face{
    font-family: 'mBold';
    src:url('/assets/fonts/Poppins/Poppins-SemiBold.ttf')
}

@font-face{
    font-family: 'mBlack';
    src:url('/assets/fonts/Poppins/Poppins-Bold.ttf')
}