*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color:$texto;
    letter-spacing: 0.08rem;

    ::-webkit-scrollbar {
        // width: 15px;
        width: 5px;
        // background:rgb(165, 160, 160);
        background:transparent;
    }
    
    ::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,255,1); 
    //    box-shadow: inset 0 0 6px rgba(0,0,255,1); 
        border-radius: 15px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 15px;
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        background:lightgray;
    } 
}

body{
    background-color: $bg-body;
    font-family: mLight;
    @include size(100%,auto);
    min-height: 100vh;
    // overflow-y: hidden;
}