//paleta de cor dos produtos e da empresa para manter a identidade visual
$texto: #C9C8C8;
$titulo: #FF5B00;
$titulo-light: #ff5900e1;
$bg-dark-primary:#000000; 
$bg-dark-primary-light:#000000b7; 
$bg-dark-primary-lighter:#00000088; 
$bg-dark-secondary:#121212;
$bg-body:#191919; 
$bg-dark-secondary: #333333;
$carregaIndex:10; 
$navIndex:5;
$menuIndex:5;
$atlantico:#0b3e92;
$atlantico-transparent:#0b3f924d;
$bigrocks:#e5b522;
$bigrocks-transparent:#e5b5224d;
$ibov:#76929e;
$ibov-transparent:#76929e4d;
$indi:#8b2c88;
$indi-transparent:#8b2c884d;
$rocket:#eb5e1e;
$rocket-transparent:#eb5e1e4d;
$smallrocks:#ca1f31;
$smallrocks-transparent:#ca1f314d;
$dividendos:#e71173;
$dividendos-transparent:#e711734d;
$tatica:#009967;
$tatica-transparent:#0099674d;
$nasdaq:#0c9fc1;
$nasdaq-transparent:#0c9fc14d;

